html,
body {
    min-height: 100%;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.site-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}
